server:
  port: 8081

spring:
  application:
    name: spring-boot-mvc-client

  security:
    oauth2:
      client:
        provider:
          SpringBootKeycloak:
            #issuer-uri: http://localhost:8080/realms/baeldung-keycloak
            issuer-uri: http://192.168.125.10:9001/realms/SpringBootKeycloak
        registration:
          keycloak:
            provider: SpringBootKeycloak
            authorization-grant-type: authorization_code
            client-id: login-app
            client-secret: secret
            scope: openid

logging:
  level:
    org:
      springframework:
        security: DEBUG
        boot: DEBUG

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true